.pagination {
    // display: inline-block;
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    a {
        color: fff;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 50%;
    }
}