.login {
    // background-color: #4070f4;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    color: #111;

    background-image: url('https://raw.githubusercontent.com/trananhtuat/react-movie/main/src/assets/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .continue__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5%;
        right: 30px;
        min-width: 250px;
        min-height: 40px;
        border-radius: 10px;
        border: 2px solid #fff;

        &:hover {
            background-color: #222;
            border: none;
            transition: all 0.5s ease;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            text-align: center;
            font-weight: 500;
            color: #fff;
            font-size: 18px;
        }
    }

    .form {
        position: absolute;
        max-width: 430px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 30px;
        border-radius: 6px;
        background: #FFF;

        h4 {
            font-size: 28px;
            font-weight: 600;
            color: #232836;
            text-align: center;                     
        }

        form{
            margin-top: 30px;

            .field{
                position: relative;
                height: 50px;
                width: 100%;
                margin-top: 20px;
                border-radius: 6px;

                input,
                button{
                    height: 100%;
                    width: 100%;
                    border: none;
                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 6px;
                }

                input{
                    outline: none;
                    padding: 0 15px;
                    border: 1px solid#CACACA;

                    &:focus{
                        border-bottom-width: 2px;
                    }
                }

                button{
                    color: #fff;
                    background-color: #0171d3;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        :hover{
                            background-color: #016dcb;
                        }
                    }
                }

                .eye-icon{
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    font-size: 18px;
                    color: #8b8b8b;
                    cursor: pointer;
                    padding: 5px;
                }
            }

            .name__user__register {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                input {
                    width: 47%;
                    padding: 0 15px;
                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 6px;
                    border: 1px solid#CACACA;
                    height: 50px;
                }
            }
        }
        .form__link {
            margin-top: 10px;
            text-align: center;

            a {
                text-decoration: none;
                font-size: 14px;
            }

            .signup {
                font-size: 15px;
            }

            span {
                font-size: 14px;
                margin-right: 5px;
            }
        }

        .from__button {
            margin: 20px 0;

            button {
                text-align: center;
                padding: 10px 0;
                background-color: #0171d3;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                width: 100%;
                border: none;
                border-radius: 6px;
                transition: all 0.4s ease;
                
                &:hover {
                    background-color:#055efb;
                }
            }
        }

        .line{
            position: relative;
            height: 1px;
            width: 100%;
            margin: 36px 0;
            background-color: #d4d4d4;

            &::before{
                content: 'Or';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #FFF;
                color: #8b8b8b;
                padding: 0 15px;
            }
        }

        .login__facebook, .login__google {
            position: relative;
            text-align: center;
            width: 100%;
            padding: 13px 0;
            color: #444;
            border-radius: 6px;
            cursor: pointer;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                font-size: 30px;
            }
        }

        .login__google {
            margin-top: 10px;
            border: 1px solid #444;
        }

        .login__facebook {
            background-color: #4267b2;
            color: #fff;
        }

        .checkbox-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;    
            margin-bottom: 40px;

            .checkbox-content{
                display: flex;
                align-items: center;

                input{
                    margin: 0 8px -2px 4px;
                    accent-color: #4070f4;
                }
            }
        }
    }
}

.block {
    display: none !important;
}

// @media screen and (max-width: 400px) {
//     .form{
//         padding: 20px 10px;
//     }
    
// }
